name: Deploy to Azure Functions

on: [push]

# Sub-directory containing the Function app, or '.' if root of repo
env:
  FUNCTION_DIR:   'model-api-functions'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: 'Login via Azure CLI'
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: 'Set up Python 3.6'
      uses: actions/setup-python@v1
      with:
        python-version: 3.6
        
    # This step will use the access token from the Azure login step
    - name: 'Fetch model from Azure ML'
      env:
        AZML_SUBID:     '52512f28-c6ed-403e-9569-82a9fb9fec91'
        AZML_RESGRP:    'Demo.AzureML'
        AZML_WORKSPACE: 'bencmldemo'
        AZML_MODEL:     'batcomputer-model'
      run: |
        python -m pip install --upgrade pip
        pip install -r aml/requirements.txt
        python aml/fetch-model.py --output-path $FUNCTION_DIR/models  

    - name: 'Install Python dependencies'
      run: |
        pip install -r $FUNCTION_DIR/requirements.txt --target="$FUNCTION_DIR/.python_packages/lib/python3.6/site-packages"

    # This step will use the access token from the Azure login step
    - name: 'Azure Functions deployment'
      uses: Azure/functions-action@v1.1.3
      with:
        # Name of the Azure Function App
        app-name: modelpredict
        # Path to package or folder. *.zip or a folder to deploy
        package: ${{ env.FUNCTION_DIR }}
